body{
    width: 100vw;
    height: 100vh;
    background-color: azure;
}
main{
    width: 50%;
    margin: 0 auto;
}
.farm {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    background-color: #c8e6c9;
    width: 100%;
    height: 500px;                  
}
.eggbox{
    border: 3px solid white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time {
    text-align: center;
}